body{
    overflow: hidden;
}
.home{
    width: 20px;
    height: 20px;
}
.landing{
    background-image: url("../image/events-heavenly-header.jpg");
    height: 74vh;
}
.bg-image
{
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100%; */
    position: relative;
}
.bg-image::after,
.song::after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background-color: rgba(255, 29, 26, 0.4);
    left: 0;
    top:0;;
}
.landing .text h2{
    font-size: 61px;
}
.landing .text h2,.landing .text p{
display: none;
}

.landing aside{
    width: 240px;
    /* transition: 0.5s; */
    display: none;
}
.landing span{
    display: none;
}
.landing aside ul{
    top: 20%;
    left: 50%;
    font-size: 25px;
}
.landing .open {
    left: 15px;
    display: none;
    top: 50%;
    z-index: 4;
    cursor: pointer;
}
.landing aside .close{
    color: red;
    transition: 0.5s;
    font-size: 25px;
    font-weight: 800;
    right: 15px;
    cursor: pointer;
}
.landing aside ul li a{
    color: #ffff;
    transition: 0.5s;
}
.landing aside ul li a:hover{
    color: #ffa4a3;
}
.landing aside .close:hover{
    color: #ff000070;
}
.song .togle{
    display: none;
}
.song h3{
    cursor: pointer;
}
.song::after{
    z-index: -1;
}
.song .togle p{
    background-color: #d1d1d1;
    padding: 13px ;
}
.song .active{
    display: block;
}
.song .container ,.count .container,.count .col-md-3{
    display: none;
}
.count{
    background-image: url("../image/invitation-2508607__340.jpg");
    height: auto;
    overflow: auto;
}
.contact  svg{
    color: #8b8b8b;
    margin-right: 11px;
}
.contact .social svg{
    border: 1px solid #bbbbbb;
    transition: 0.5s;
    width: 21px;
    height: 21px; 
    /* font-size: 25px; */
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 3px;
}
.contact .social svg:hover {
    color: #fff;
    border: 1px solid #ff6b69;
    background-color: #ff6b69;
}
.contact  p{
    font-size: 16px;
    color: #777;
}
.contact .row{
    font-size: 17px;
}
.contact form textarea{
    height: 180px;
}
.form-control:focus {
    border-color: #fce4ec59;
    box-shadow: 0 0 0 0.25rem rgb(244 67 54 / 10%);
}
::selection{
    background-color: #ffa4a3;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background:#ffa4a3 ;
    border-radius: 10px;
}
.scrollTop {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff6b69;
    cursor: pointer;
    display: none;
    justify-content: center;
    color: #fff;
    align-items: center;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
    transition: 0.5s;
}
.load{
    z-index: 99999; 
    display: flex;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
      box-shadow: 0 0 0 #ff3d00;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
  .song{
      width: 50%;
  }
  @media (max-width:767px) {
      .song {
          width: 100%;
      }
  }